{:paths     ["src" "src" "src"],
 :mvn/repos {"releases"  {:url "s3://breezepackages/releases"},
             "snapshots" {:url "s3://breezepackages/snapshots"}}
 :aliases   {:dev    {:extra-deps {devcards                      {:mvn/version "0.2.5"},
                                   com.bhauman/cljs-test-display {:mvn/version "0.1.1"},
                                   com.bhauman/figwheel-main     {:mvn/version "0.2.0"}}}
             :test   {:extra-paths ["test"],
                      :extra-deps  {org.clojure/test.check {:mvn/version "RELEASE"}}},
             :runner {:extra-deps {com.cognitect/test-runner {:git/url "https://github.com/cognitect-labs/test-runner",
                                                              :sha     "76568540e7f40268ad2b646110f237a60295fa3c"}},
                      :main-opts  ["-m" "cognitect.test-runner" "-d" "test"]},},
 :deps      {com.breezeehr/hitch2 {;:mvn/version "0.4.0-SNAPSHOT"
                                   :local/root "../hitch2"},
             com.breezeehr/quiescent {:exclusions [cljsjs/react-dom cljsjs/react
                                                   cljsjs/create-react-class],
                                      :local/root "../static-libs/quiescent-0.3.0.jar"},
             crinkle                 {:mvn/version "2.0.0", :exclusions [org.clojure/clojurescript]},
             org.clojure/clojure     {:mvn/version "1.10.1"},
             thheller/shadow-cljs    {:mvn/version "2.11.14"}},}
